* { padding: 5px; margin: 0; }
body { font-family: "Roboto", sans-serif; }

h1 { font-weight: 300; font-style: italic; }

p { 
  text-decoration: underline;
  text-align: right; 
  text-transform: uppercase; 
  line-height: 4px; 
}